 <div class="parallax">
   <div class="threeD">Meals and groceries <br> Delivered Fast</div>
</div>

<div class="grid-container">
  <div class="grid-label">
    <h2>From the Grocery store to your door in minutes</h2>
  </div>
  <div class="groceries-grid-item"><img src="../images/groceries.jpg" style="width:600px;height:400px;"></div>
  <div class="arrow-grid-item"><img src="../images/arrow.png" style="width:400px;height:400px;"></div>
  <div class="door-grid-item"><img src="../images/door.jpg" style="width:600px;height:400px;"></div>
</div>
<script src="/js/app.js"></script>
<div class="grid-container-choices" id="main_div">
  <div><img src="../images/salmon.png" width="250em" height="250em"></div>
  <div><img src="../images/tacosalad.png" width="250em" height="250em"></div>
  <div><img src="../images/shrimp.png" width="250em" height="250em"></div>
  <div><img src="../images/spaghetti.png" width="250em" height="250em"></div>
  <div> <h3> Romesco <span> Salmon </span></h3></div>
  <div> <h3> Veggie bean<span> Salad </span></h3></div>
  <div> <h3> Pesto <span> Shrimp </span></h3> </div>
  <div> <h3> italian <span> Spaghetti </span></h3></div>
  <div>$12</div>
  <div>$10.95</div>
  <div>$11.50</div>
  <div>$9.49</div>
</div>
