<div class="parallax-products">
  <div class="threeD">Try some Meal Plans</div>
</div>
<div class="grid-container-packages">
  <div class="veggie-package"><img src="../images/veggie.png" width="250em" height="250em"></div>
  <div class="protein-package"><img src="../images/protein.png" width="250em" height="250em"></div>
  <div class="keto-package"><img src="../images/keto.png" width="250em" height="250em"></div>
  <div class="weightloss-package"><img src="../images/weight-loss.png" width="250em" height="250em"></div>
  <div class="veggie-label"> <h3> Vegetable<span> Package </span></h3></div>
  <div class="protein-label"> <h3> Protein<span> Package </span></h3></div>
  <div class="keto-label"> <h3> Keto<span> Package </span></h3> </div>
  <div class="weightloss-label"> <h3> Weight-loss<span> Package </span></h3></div>
  <div class="veggie-desc">
    <p> If you're planning to cut some <br>
      meat out of your diet, Or want <br>
      to cut a few pounds, Then signup <br>
       because this is the plan for you
    </p>
  </div>
  <div class="protein-desc">
    <p> Do you want to Put on muscle? <br>
      Maybe you need to gain a few pounds <br>
      Signup for the protein plan <br>
      And begin your muscle building journey today
    </p>
  </div>
  <div class="keto-desc">
    <p> are you confident in following <br>
      a strict diet with proven results? <br>
      This diet is extremely hard but works <br>
       we make it easy, Signup
    </p>
  </div>
  <div class="weightloss-desc">
    <p> Weight loss planning? <br>
      This diet will ensure that you achieve<br>
      the goals you have set out to follow <br>
      Mixing all diets together to guarentee healthy eating
    </p>
  </div>
  <div class="veggie-price">$30.00/m</div>
  <div class="protein-price">$34.99/m</div>
  <div class="keto-price">$49.99/m</div>
  <div class="weightloss-price">$69.99/m</div>
</div>
