<form class="register-form" action="/register/send">
  <div class="errorContainer">
    <ul class="error"></ul>
  </div>
    <section>
    <div>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" placeholder="John Smith">
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" type="text" name="email" placeholder="Johnsmith007@example.com">
    </div>
    </section>
    <section>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Password(*^%C-)">
    </div>
    <div>
      <label for="confirm-password">Confirm Password</label>
      <input id="confirm-password" type="password" value="" name="confirm-password" placeholder="Password(*^%C-)">
    </div>
    </section>
    <input type="submit" value="Register">
</form>
<script type="text/javascript" src="/js/client.js"></script>
